@font-face {
  font-family: "CombackHome";
  src: url("./fonts/CombackHomeRegular-jEMd9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SuperPixel";
  src: url("./fonts/SuperPixel-m2L8j.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WowDino";
  src: url("./fonts/WowDino-G33vP.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #ffffff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  background: url("./asset/background.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .swiper {
  width: 340px;
  height: 453px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #FF8A8A;
}

.swiper-slide:nth-child(2n) {
  background-color: #37AFE1;
}

.swiper-slide:nth-child(3n) {
  background-color: #88D66C;
}

.swiper-slide:nth-child(4n) {
  background-color: #F6FB7A;
}

.swiper-slide:nth-child(5n) {
  background-color: #B7E0FF;
}

.swiper-slide:nth-child(6n) {
  background-color: #FFF9D0;
}

.swiper-slide:nth-child(7n) {
  background-color: #72BF78;
}

.swiper-slide:nth-child(8n) {
  background-color: #87A2FF;
}

.swiper-slide:nth-child(9n) {
  background-color: #CB9DF0;
}

.swiper-slide:nth-child(10n) {
  background-color: #FFA62F;
} */


@keyframes unlock {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-unlock {
  animation: unlock 1s ease-in-out;
}
